#descricao{
    display: flex;
    width: 85%;
    margin: 4rem auto;
    gap: 5rem;
}

.texto{  
    p{
        font-family: 'Roboto';
        font-size: 19px;
        margin: 14px 0px;
    }
    h1{
        font-size: 40px;
        text-shadow: 4px 4px 2px #0000006e;
        margin: 0;
    }
    h2{
        font-family: 'Roboto';
        margin: 0;
        font-size: 24px;
    }
}

.ilustracao{
    width: 400px;
    height: 400px;
    border: #000 solid 2px;
    box-shadow: 4px 4px 0px #000;
    border-radius: 16px;
    img{
        animation: floating infinite 3s linear;
    }

}
    
@media (max-width: 950px) {
    #descricao{
        gap: 1rem;
        }
    .ilustracao{
        width: 300px;
        height: 300px;
        display: flex;
        margin: auto auto;
        img{
            width: 300px;
        }
    }   

    .texto p{
        font-size: 16px;
    }

    .texto h1{
        font-size: 30px;
    }
}

@media (max-width:750px) {
    #descricao{
        flex-wrap: wrap;
        }
}

@media (max-width:380px) {
    #descricao{
        margin: auto auto
    }

    .ilustracao{
        width: 250px;
        height: 250px;
        display: flex;
        margin: auto auto;
        img{
            width: 250px;
        }
    }   
}

@keyframes floating {
    0%{
        transform: translateY(-6px); 
    }
    40%{
        transform: translateX(-4px);
    }
    60%{
        transform: translateX(4px);
    }
    100%{
        transform: translateY(-6px);
    }
}