#projetos{
    width: 85%;
    display: grid;
    margin: auto auto;
    h1{
        text-align: center;
        font-size: 40px;
        text-shadow: 4px 4px 2px #0000006e;
        margin: 1rem 0 0 0;
    }
}

.esq{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0rem;
}

.dir{
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}



/* ================================================================================ */

.descricao{
    width: 30%;
    height: 300px;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    border: 2px solid #000000;
    padding: 6px 16px;
    h2{
        text-shadow: 4px 4px 2px #0000006e;
    }
    p, a{
        font-family: 'Roboto';
        text-wrap: wrap;
        margin: 4px 0px;
    }

    a{
        font-size: 20px;
        color: #dbd6cd;
        text-decoration: none;
        z-index:0;
        position: relative;
        top: 60px;
    }

    sub{
        font-family: 'Roboto';
        background-color: #dbd6cd67;
        border-radius: 6px;
        margin: 4px 6px 0px 0px;
        padding: 2px 4px;
    }
}

.descricao a:hover{
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
}

.tecs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagem{
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    border: 2px solid #000000;
    font-family: 'Roboto';
    width: 70%;
    height: 85%;
    overflow: hidden;
    transition: 0.8s

    }

#projetos img{
            width: 100%;
            position: relative;
            top: -5px;
            border-radius: 16px;
            z-index: -1;
        }

.imagem:hover{
    height: 96%;
}

@media (max-width:940px) {
    .imagem{
        height: 70%;
    }

    .imagem:hover{
        height: 85%;
    }

    .descricao{
        height: 200px;
        h2{
            margin: 0;
        }
        a{
            position: none;
            top: 10px;
        }

        p{
            font-size: 14px;
        }
    }
}

@media (max-width: 810px) {
    .dir, .esq{
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .descricao{
        width: 95%;
    }

    .imagem{
        width: 100%;
        height: 50%;
    }

    .imagem:hover{
        height: 57%;
    }
}

@media (max-width: 585px) {
    .descricao{
        width: 90%;
        height: 170px;
        h2{
            font-size: 20px;
        }
    }

    .imagem{
        height: 40%;
    }

    .imagem:hover{
        height: 54%;
    }
}

@media (max-width: 350px) {
    .descricao{
        height: 200px;
    }

    .imagem{
        height: 35%;
    }

    .imagem:hover{
        height: 35%;
    }
}