@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500&family=Shrikhand&display=swap');

:root {
  font-family: 'Shrikhand', 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;
  color: #DBD6CB;
  background-color: #171717;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  body {
  margin: 0;
  animation: fade-in-bck 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;   
}

@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


